/* Original source: https://github.com/marp-team/marpit/issues/137#issuecomment-522006274 */

section {
	font-family: $v_font_family(), sans-serif;
	font-size: $v_font_default(); /* Default font size */
}

section.title {
  --title-height: 130px;
  --subtitle-height: 70px;

  overflow: visible;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--title-height) var(--subtitle-height) 1fr;
  grid-template-areas: "." "title" "subtitle" ".";
}

section.title h1,
section.title h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  height: var(--area-height);
  line-height: var(--area-height);
  /*font-size: calc(var(--area-height) * 0.7);*/
}

section.title h1 {
  grid-area: title;
  --area-height: var(--title-height);
  font-size: 2rem;
}

section.title h2 {
  grid-area: subtitle;
  --area-height: var(--subtitle-height);
  font-size: 0.9rem;
}

/* Original source : https://github.com/marp-team/marpit/issues/137#issuecomment-524175560 */
section.split {
    /*overflow: visible;*/
    display: grid;
    grid-template-columns: $v_basis_height()px $v_basis_height()px;
    grid-template-rows: 100px $v_basis_height();
    grid-template-areas: 
        "slideheading slideheading"
        "leftpanel rightpanel";
}
/* debug */
section.split h1 {
    grid-area: slideheading;
}
section.split .ldiv { 
	grid-area: leftpanel; 
	display: flex; 
	flex-direction: column; 
	padding-right: 25px;
	overflow: visible;
  height: $v_basis_height()px;
}
section.split .rdiv { 
	grid-area: rightpanel; 
	display: flex; 
	flex-direction: column; 
	padding-left: 25px;
	overflow: visible;
  height: $v_basis_height()px;
}

section.tnc {
	--title-height: 130px;

	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: var(--title-height) auto;
	grid-template-areas: "heading" "content";
}

section.tnc h1 {
	--area-height: 130px;

	margin: 0;
	padding: 0;
	grid-area: heading;
	height: var(--area-height);
	line-height: var(--area-height);
}

section.tnc .marp-container {
	/* This was hard-coded and I don't know what it is specifically 435px, kekw*/
	/* Maybe utilize v_basis_height? */
	--area-height: 435px;

	display: flex;
	margin: 0;
	padding: 0;
	max-width: 100%;
	max-height: var(--area-height);
	grid-area: content;
	height: var(--area-height);
	/* Flex-grow doesn't affect container,
	 * but it is useful when container is nested */
	flex-grow : 1; 
	flex-direction: row;
	justify-content: space-evenly;
}

img {
	min-width: 0;
	min-height: 0;
}

/* Remove indentation of list items */
ol, ul { 
	padding-left: 1.2em; 
}

.fbox {
	align-items: center;
	flex: 1;
	min-width: 0;
	min-height: 0;
	justify-content: center;
	display: flex;
}
