/* Original source: https://github.com/marp-team/marpit/issues/137#issuecomment-522006274 */

:root {
	--root-width: 1280px;
	--root-height: 720px;
	--title-height: 130px;
	--subtitle-height: 70px;
}

section {
	font-family: $v_font_family(), sans-serif;
	font-size: $v_font_default(); /* Default font size */
}

section.toc > ol {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	flex-wrap: wrap;
}

section.title {
	overflow: visible;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr var(--title-height) var(--subtitle-height) 1fr;
	grid-template-areas: "." "title" "subtitle" ".";
}

section.title h1 {
	grid-area: title;
	--area-height: var(--title-height);
	font-size: 2em !important;
}

section.title h2 {
	grid-area: subtitle;
	--area-height: var(--subtitle-height);
	font-size: 0.9em !important;
}

section.title h1,
section.title h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	height: var(--area-height);
	line-height: var(--area-height);
}

section.tnc {
	justify-content: flex-start;
}

img {
	min-width: 0;
	min-height: 0;
	align-self: center;
}

/* Remove indentation of list items */
ol, ul { 
	padding-left: 1.2em; 
}

.fbox {
	align-items: center;
	flex: 1;
	min-width: 0;
	min-height: 0;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}

.hcontainer {
	flex: 1;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	max-height: calc(var(--root-height) - var(--title-height));
}

.hcont-item {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/* Add margin right for non last element */
.hcont-item:not(:last-child) {
	margin-right: 1em;
}

.center-div {
	text-align: center; 
	display: block;
	margin: 0 auto;
	max-height: calc(var(--root-height) - var(--title-height));
}
