body, html {
	height: 100%;
	margin: 0;
}
#modal.modal-overlay {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
#modal .modal-window {
	background: rgba( 255, 255, 255, 0.98 );
	border-radius: 10px;
	border: 2px solid rgba( 20,20,20, 0.18 );
	width: 50%;
	height: 70%;
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
#modal .title {
	padding-left: 10px;
	display: inline;
}
#modal .title h2 {
	display: inline;
}
#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	overflow-y: auto;
}

#modal .header {
	display: flex;
	justify-content: space-between;
}

#separator {
	display: none;
}

.diversion {
	background: rgb(250, 250, 250);
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.node {
	pointer-events: fill;
	cursor: pointer;
}

.modal-header {
	text-align: center;
}

.goto {
	cursor: pointer;
	color: cornflowerblue;
	text-decoration: underline;
}
